body{
    font-family: arial;
    margin: 0px;
}
.background{
    background: linear-gradient(180deg, rgba(3, 56, 244, 0.71) 0%, rgba(224, 37, 206, 0.79) 93.75%);
    width: 100%;
    height: 850px;
}

.information1{
    width: 296px;
    height: 820px;
    background:rgba(196, 196, 196, 0.3);
    border: none;
    border-radius: 15px;
    margin-left: 20px;
    margin-top: 15px;
    float: left;
}    

.avt img{
    height: 116.02px;
    width: 110px;
    border-radius: 60px; 
    margin-left: 20px;
    margin-top: 30px;
}

.avt h2{
    margin-left: 150px; 
    margin-top: -125px;  
    color: #ffffff;
    font-size: 40px;
}

.avt p{
    margin-left: 160px; 
    margin-top: -30px;  
    color: #ffffff;
    font-size: 30px;
}

.info{
    background: rgba(196, 196, 196, 0.35) ;
    width: 260px;
    height: 38px;
    border-radius: 10px;
    border: none;
    margin-top: 30px;
    margin-left: 15px;
    margin-bottom: -22px;
}

.info p{
    color: #ffffff;
    margin-top: -25px;
    margin-left: 70px;
}

.info img{
    margin-top: 7px;
    margin-left: 20px;
}

.language{
    width: 260px;
    height: 100px;
    background: rgba(196, 196, 196, 0.35) ;
    border-radius: 10px;
    border: none;
    margin-top: 40px;
    margin-left: 15px;
}

.language h5{
    color: white;
    float:left;
    margin-top: 7px;
    margin-left: 20px;
    font-size: 16px;
    margin-bottom: 5px;
}

.language li{
    color: white;
    margin-left: 20px;
    padding-top: 12px;
} 

.language img{
    float: right;
    margin-top: -12px;
    margin-right: 70px;
}

.hobbies{
    width: 260px;
    height: 100px;
    background: rgba(196, 196, 196, 0.35) ;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
    margin-left: 15px;
}

.hobbies h5{
    color: white;
    float:left;
    margin-top: 7px;
    margin-left: 20px;
    font-size: 16px;
    margin-bottom: 5px;
}

.hobbies img{
    margin-left: 30px;
    padding-top: 5px;
}

.websitedone{
    width: 260px;
    height: 185px;
    background: rgba(196, 196, 196, 0.35) ;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
    margin-left: 15px;
}

.websitedone h5{
    color: white;
    float:left;
    margin-top: 7px;
    margin-left: 20px;
    font-size: 16px;
    margin-bottom: 0px;
}

.websitedone a{
    text-decoration: none;
    color: white;
}

.websitedone li{
    margin-left: 20px;
    color: white;
}

.information2{
    width: 296px;
    height: 820px;
    background: white;
    border: none;
    border-radius: 15px;
    margin-top: 15px;
    margin-left: 20px;
    float: left;
}

.skill{
    width: 150px;
    height: 25px;
    background: rgba(84, 84, 84, 1);
    border: none;
    border-radius: 7px;
    margin-left: 10px;
}

.skill h4{
    color: white;
    text-align: center;
    padding-top: 4px;
}

.skill hr{
    width: 120px;
    float: top;
    margin-left: 150px;
    margin-top: -32px;
    border: 1px solid rgba(84, 84, 84, 1);
}

.skill img{
    gap: 20%;
}


